  

  .bilde {
    background-image: url("åpenhetsloven.jpg");
    height: 400px;
    width: 70%;
    margin: 50px auto;
    background-size: cover;
    background-position: center;
  }

  .informasjon {
    height: 600px;
}

.informasjon, h1 p {
    width: 70%;
    margin: 50px auto;
    font-size: 1.2vmax;
}

h1 {
    font-size: 2.3vmax;
    font-weight: bold;
}
h2 {
    font-size: 2vmax;
    font-weight: bold;
}

.informasjon p, h1, h2, #rapport {
  margin: 20px;
}



@media only screen and (max-width:1000px){

  .bilde {
    width: 90%;

  }

  h1 {
    font-size: 3.5vmax;
  }

  h2 {
    font-size: 3vmax;
  }

  p, a{
    font-size: 2vmax;
  }

  .footer {
    margin-top: 200px;
  }
 }
