/* hero ish */
.bildeseksjon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 50px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("bilder/historie.jpg");
    background-size: cover;
    background-position: center;
    width: 80%;
    margin-bottom: 100px;
}

.bildeseksjon h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(46, 96, 61);
    line-height: normal;
}

a {
    color: black;
    text-decoration: none;
  }
/* tekst seksjon  */
.reise {
    background-color: #efefef;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}
.container {
    display: grid;
    grid-template-columns: 40% 20% 40%; /* Deler opp i tre kolonner */
    align-items: center; /* Sentrerer elementene vertikalt */
    justify-content: center;
    height: auto;
    width: 93%;
    margin: auto;
    margin-top: -5px;
}

    .gridBilde {
        width: 100%;
        height: 60vmin;
        grid-column: 3; 
        margin:  auto;
        object-fit: cover;
    }

    .tekst1 {
        grid-column: 1;
        margin: auto;
    }

    .år1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 2; 

    }

    .gridBilde2 {
        grid-column: 1; 
        width: 100%;
        height: 60vmin;
        margin:  auto;
        
        object-fit: cover;
        }

        .gridBilde3 {
            display: none;
             height: 60vmin;
        }
        
        #totusenTekst {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    .tekst2 {
        grid-column: 3;
        margin: auto;
    }

    .år2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 2; 
        height: 100%;
}


    .årstall {
        color: rgb(118, 150, 125);
        font-weight: 1000;
    }

    .vertikal-linje1 {
        height: 15vmin;
        width: 5px;
        background-color: #76967d;
    }

    .vertikal-linje2 {
        height: 45vmin;
        width: 5px;
        background-color:  #76967d;
    }

    h5 {
        font-size: 1.5rem;
    }


#fremtid {
    margin-top: 80px;
}


    @media only screen and (max-width:1000px){
       
         /* hero ish */
      
         .bildeseksjon {
            height: 600px;
            margin: 20px auto;
            width: 95%;
        }
    
    .bildeseksjon h1 {
        color: white;
    }
    
    .reise {
        padding: 30px;
        margin: 0px auto;
        width: 95%;
    }
    .container {
        margin: 0 auto;
        grid-template-columns: 15% 85%;
        width: 100%;
        align-items: flex-start;
    }
    
    .gridBilde {
        grid-column: 2; 
        margin-bottom: 0px ;
        margin-top: 0px;
    }
    
  
    .gridBilde2 {
        display: none;
        }
    
    .gridBilde3 {
        display: block;
        grid-column: 2; 
        object-fit: cover;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .tekst1 {
        grid-column: 2;
        margin: auto;
        width: 100%;
    }
    

    .tekst2 {
        grid-column: 2;
        margin: auto;
        width: 100%;
    }

    
    .år1 {
        grid-column: 1; 
        margin-top: -400px;
    }

    #år1 {
        margin-top: -200px;
    }

    #container1 {
        margin-bottom: -50px;
    }

    .år2 {
        grid-column: 1; 
        margin-top: 0px;
    }
    
    .vertikal-linje1 {
        height: 150px;
    }
    
    .vertikal-linje2 {
        height: 480px;
       
    }
    
    .vertikal-linje3 {
        height: 0px;
    }
    
    }
    
    

    @media only screen and (max-width:1000px){
    
        
         /* hero ish */
      
         .bildeseksjon {
            height: 600px;
            margin: 20px auto;
            width: 95%;
        }
    
    .bildeseksjon h1 {
        color: white;
    }
    
    .reise {
        padding: 30px;
        margin: 0px auto;
        width: 95%;
    }
    .container {
        margin: 0 auto;
        grid-template-columns: 15% 80%;
        width: 100%;
        align-items: flex-start;
    }
    
    .gridBilde {
        grid-column: 2; 
        margin-bottom: 0px ;
        margin-top: 0px;
    }
    
  
    .gridBilde2 {
        display: none;
        }
    
    .gridBilde3 {
        display: block;
        grid-column: 2; 
        object-fit: cover;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .tekst1 {
        grid-column: 2;
        margin: auto;
        width: 100%;
    }
    

    .tekst2 {
        grid-column: 2;
        margin: auto;
        width: 100%;
    }

    
    .år1 {
        grid-column: 1; 
        margin-top: -400px;
    }

    #år1 {
        margin-top: -200px;
    }

   

    .år2 {
        grid-column: 1; 
        margin-top: 0px;
    }
    
    .vertikal-linje1 {
        height: 70px;
    }
    
    .vertikal-linje2 {
        height: 75vmin;
       
    }

    .vertikal-linje3 {
        height: 19vmin;
        width: 5px;
        background-color: #76967d;
    }
    
    .container p {
        margin-bottom: 20px;
    }

   
  
    
    }
    
    
    

    @media only screen and (max-width:900px){
    
  
    /* tekst seksjon  */

.container {
  
    display: grid;
    grid-template-columns: 100%; 
    padding: 0px;
}

.container p {
    margin-bottom: 20px;
}
.reise {
    margin: 0px auto;
    width: 95%;
}

.årstall {
    padding: 0px;
}

h2 {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.reise p {
    padding: 20px;
}

    .gridBilde {
        width: 100%;
        height: 80vmin;
        grid-column: 1; 
        order:3;
        margin:  0px auto;
        object-fit: cover;
        margin-bottom: 40px;
        
    }

    .tekst1 {
        grid-column: 1;
        margin: auto;
        order:3;
    }

    .år1 {
        order: 1;
        grid-column: 1; 
        margin-top: 00px;
    }

    #år1 {
        margin-top: 0px;
    }
    .gridBilde2 {
        grid-column: 1; 
        height: 80vmin;
      
        }

    .gridBilde3 {
        display: block;
        height: 80vmin;
        margin-bottom: 30px;
    }
    

    .tekst2 {
        grid-column: 1;
        margin: auto;
        margin-top: -50px;
    }

    .år2 {
        grid-column: 1; 
        padding: 30px;
}


    .vertikal-linje1 {
        height: 50px;
        width: 5px;
        background-color: #76967d;
    }

    .vertikal-linje2 {
        height: 100px;
        width: 5px;
        background-color:  #76967d;
    }

    .vertikal-linje3 {
        display: none;

    }

    
    
    
  
    
    }