

  .informasjon {
    height: 600px;
    text-align: center;
}

.informasjon, h1 p {
    padding: 130px;
}

.informasjon p {
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
  
  .soMe-container img {
    height: 5vmax;
  }

  .instagram {
    margin-left: 30px;
  }

  @media only screen and (max-width:1000px){
  
  .informasjon, h1 p {
    padding: 50px;
    padding-top: 100px;
      font-size: 2vmax;
  }
  
  .informasjon p {
      width: 90%;
      margin: auto;
      margin-top: 40px;
  }

  .soMe-container {
    justify-content: center;
  }
    
  .soMe-container img {
    height: 10vmax;
  }

  .instagram {
    margin: 0 auto;
  }

}
