* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 10;
  letter-spacing: 0.8px;
  
}

html { 
  scroll-behavior: smooth;
  font-size: 19px; 

}


button {
  background-color: #4F8966;
  color: #f2f2f2;
  border-radius: 80px;
  border: 1px;
  height: auto;
  width: auto;
  padding: 0.6vmax;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 30px;
  font-size: 1.5vmax;
  text-decoration: none;
}

button:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 1.6rem;
  font-weight: 300;
}

h2 {
  font-size: 1.7rem;
  font-weight: 200;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

h5 {
  font-size: 1.3rem;
}

h4 {
  font-weight: 1000;
}

p {
  font-size: 1rem;
  /* forhindrer at tall tolkes som f.eks mobilnumre på mobilskjerm*/
    -webkit-touch-callout: none; /* iOS */
    -moz-touch-callout: none; /* Firefox */
    -ms-touch-callout: none; /* IE/Edge */
}

/* navbar start */

.home-page #navbar {
  width: 100%;
  z-index: 999;
  background-color: #f1f1f1;
  top: -00px;
  
}

#navlinks {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 80px;
  padding-bottom: 10px; /* endre til 30 når linkene kommer på plass */
  margin-left: -100px;
}


#navlinks ul {
  list-style: none;
  display: flex;
  gap: 5vmax;
  font-size: 1.8vmin;
}


#navlinks ul li:hover {
  transform: scale(1.05);
}


#logoDesktop {
  height: 15vmin;
  display: block;
  margin: 0px auto;
  margin-top: -60px;
}

.logoMobil { 
  display: none;
}



.logoDesktop:hover { 
  transform: scale(1.05);
}

.logoMobil:hover { 
  transform: scale(1.05);
}

nav ul a {
  color: #3d3d3d;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul a:hover { 
  transform: scale(1.05);
}

#ham-menu {
  display: none;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

nav ul.active {
  left: 0;
}


/* navbar slutt */
/* hero start */


.hero {
  background-image: url(bilder/agurk.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 60vmin;
}


/* hero slutt */

/* tekst seksjon 1 */

.seksjon1 {
background-color: #f0efef;
height: auto;
justify-content: center;
text-align: center;
align-items: center;
padding: 70px;
}

.seksjon1 a {
  color: black;
  text-decoration: none;
}

.seksjon1 h1 {
font-weight: 100;
color: #000000;
width: 70%;
margin: 0 auto;
}

.seksjon1 a {
color: #060606;
text-decoration: none;
font-weight: 1000;
}

.seksjon1 p{
padding-top: 20px;
color: #000000;
width: 40%;
margin: 0 auto;
}

.ikon-container {
display: flex;
justify-content: center;
}

.ikon {
width: 7.5vmin;
height: 7.5vmin;
margin: 5px;
margin-top: 40px;
}


/* seksjon 2 "71 mål med grønn glede" boks*/

.seksjon2 {
height: auto;
}

.bilde1ogtekst {
display: flex;
position: -webkit-sticky;
position: sticky;
top: 100px;
margin-top: 100px;
}

.seksjon2tekst {
height: auto;
width: 50%;
padding: 0px 20px 20px 80px;
display: flex;
flex-direction: column;
margin-top: 100px;
margin-bottom: -300px;
}

#bilde1 {
height: 500px;

background-image: url("bilder/bilde1.jpg") ;
width: 50%;
background-size: cover;
}

#bilde4 {
display: none;
}

.seksjon2bilde {
height: 500px;
position: -webkit-sticky;
position: sticky;
top: 100px;
}

#bilde2 {

background-image: url("bilder/blomster.jpg") ;
background-position: center;
height: 100%;
width: 50%;
background-size: cover;
}

#bilde3 {
background-image: url("bilder/bilde3.jpg") ;
background-position: center;
height: 100%;
width: 50%;
background-size: cover;
margin-top: 200px;
}

#bilde4 {
background-image: url("bilder/bilde1.jpg") ;
background-position: center;
height: 100%;
width: 50%;
background-size: cover;
}

.seksjon2Knapp {
z-index: 9999;
top: 485px;
position: sticky;
margin-top: -120px;
margin-left: 50%;
padding-left: 80px;
}


#knapp2 {
  display: none;
}


.seksjon2overskrift2 {
width: 100%;
font-weight: 100;
}

.seksjon2tekst p {
width: 80%;
padding-top: 30px;
}

.seksjon2ikon {
display: none;
}

/* tekst seksjon 3 */
.seksjon3mobil {
display: none;
}

.seksjon3 {
margin-top: 100px;
justify-content: center;
align-items: center;
display: flex;
height: auto;
padding-top: 60px;
padding-bottom: 60px;
background-color: #528D72;
margin: 100px 80px 50px 80px;
border-radius: 20px;
}

.seksjon3bilde {
display: block;
background-image:  url(bilder/olaug.jpg);
background-size: cover;
width: 45%;
margin-right: 50px;
height: 37vmax;
background-position:  center;
}


.seksjon3tekst {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: auto;
width: 50%;
}

.seksjon3ikon {
height: 6rem;
width: 6rem;
margin-bottom: 20px;
}

.seksjon3tekst h2{
font-weight: 100;
color: #ffffff;
width: 70%;
}

.seksjon3tekst p{
padding-top: 20px;
color: #ffffff;
width: 70%;
}


#hvitKnapp {
background-color: #f2f2f2;
z-index: 947;
color: #000000;
width: auto;
padding: 5px 20px 5px 20px;
}




/* seksjon 2 "71 mål med grønn glede" boks*/

.seksjon4 {
display: flex;
align-items: center;
width: 100%;
padding-top: 60px;
margin: 0 auto;
height: auto;
padding-bottom: 60px;
background-color: #eeeded;
justify-content: center;

}

.seksjon4overskrift1 {
display: none;
}

.seksjon4ikon {
height: 13vmin;
width: 13vmin;
}

.seksjon4overskrift2 {
width: 100%;
padding-top: 20px;
font-weight: 100;
}

.seksjon4tekst{
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
width: 30%;
margin-left: 80px;
}

.seksjon4tekst p {
padding-top: 30px;
}


.seksjon4bilde {
background-size: cover;
background-image: url("bilder/team.jpg");
background-position: center;
width: 37vmax;
height: 37vmax;
}



/* sosiale medier */

.soMe {
height: 450px;
padding-top: 100px;
justify-content: center;
text-align: center;
margin-bottom: -200px;
}

.soMe-container {
padding: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.soMe-container img {
height: 8vmax;
padding: 10px;
}

.soMe-container img:hover {
transform: scale(1.05);
}

.forstørr:hover {
transform: scale(1.2);
}



/*footer tablet/laptop*/
.footer {
width: 100%;
background:#f2f2f2;
height: auto;/*denne*/
padding: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;/*denne*/
}


/* Footer venstre-del */
.footer-venstre{
padding-left: 140px;
margin-top: -100px;
}


.footer p{
color: black;
font-size: 1.1vmax;
font-weight: 200;
line-height: 2;
}

.logoFooter {
height: 13vmin;
}

.logoFooter:hover {
transform: scale(1.02);
}

/* footer - midten */

.åpningstider {
margin-bottom: 20px;
}

.footer-midten {
margin: auto;
}

.footer-midten a{
color: black;
}

.footer h4 {
  font-size: 1.3vmax;
}



/* Footer høyre */

.footer-høyre{
  width: 20%;
}

.footer-høyre p{
  font-weight: 100;
}


.footer-høyre p { 
  text-decoration: none;
  font-weight: 1000;
  font-size: 1.1vmax;
}

.footer-links a{
line-height: 2;
text-decoration: none;
color: black;
font-weight: 500;
text-decoration: underline;
display: block;
font-size: 1.1vmax;
}

.footer-links a:hover {
transform: scale(1.02);
}



/* animajsoner */
.animasjonOpp{
position: relative;
transform: translateY(150px);
transition: 0.7s all ease;
}
.animasjonOpp.active{
transform: translateY(0);
}

.animasjonFraHøyre{
position: relative;
transform: translateX(250px);
transition: 1s all ease;
}
.animasjonFraHøyre.active{
transform: translateX(0);
}

.animasjonFraVenstre{
position: relative;
transform: translate(-250px);
transition: 1s all ease;
}
.animasjonFraVenstre.active{
transform: translateZ(0);
}



/* cookie */
.cookie{
position: fixed;
bottom: 0px;
width: 100%;
background: #e7e7e7;
padding: 10px 50px 10px 50px;
border-radius: 20px;
z-index: 99999;
}

.cookieInnhold{
display: flex;
justify-content: space-between;
color: #2f2f2f;
}




.ok {
margin: 0px;
margin-left: 20px;
left: 0;
margin-top: -20px;
right: 0;
}

.lesMer {
color: #828181;
}

.cookie.hide{
opacity: 0;
pointer-events: none;
transform: scale(1.1);
transition: all 0.3s ease;
}

@media only screen and (max-width:1300px){
a {
  font-size: 0.85rem;
}

.seksjon3bilde {
  height: 50vmax;
}

}

@media only screen and (max-width:1070px){
.seksjon2Knapp {
top: 550px;
margin-top: 50px;
text-decoration: none;
}
}

@media only screen and (max-width:960px){
.seksjon2Knapp {
  top: 585px;
}

/* navbar */
#navbar {
z-index: 200000;
}
#ham-menu {
display: block;
color: #3b7741;
z-index: 99999999990;
}

nav a#logoDesktop, #ham-menu {
font-size: 2.6rem;
}
nav ul {
background-color:#EBECEB;
gap: 0;
position: fixed;
left: -100vw;
top: 0px; 
width: 100vw;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
transition: 0.7s;
z-index: 9999999999;
}

#navlinks {
padding-top: 120px;
}

#navlinks a {
font-size: 1rem;
}

#logoDesktop {
display: none;
}

.logoMobil { 
height: 30vmin;
display: block;
margin: auto;
padding-top: 25px;
margin-bottom: -120px;
}

}

/*mobile device*/
@media only screen and (max-width:1000px){


label{
font-size: 1.2rem;
}

.footer{
    flex-direction: column;
}


.cookie {
padding: 30px;
}



.logoFooter {
height: 23vmin;
}


.footer-venstre, .footer-midten, .footer-høyre{
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-venstre {
  order: 1;
}

.footer-midten  {
  margin-bottom: 50px;
  order: 2;
}

.footer-høyre {
  order: 3;
}


.footer-midten p {
  font-size: 2.3vmax;
}

.footer-høyre a {
font-size: 2vmax;
}

#vårreise {
  margin-top: -33px;
}

.footer h4 {
  margin-top: 30px;
  font-size: 2.3vmax;
}


}


/* tablet */
@media only screen and (max-width: 900px) {

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 0.85rem;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
}

a {
  font-size: 0.85rem;
}

button {
  font-size: 0.8rem;
  height: auto;
  width: 8rem;
  padding: 1vmax 2vmax 1vmax 2vmax;
  width: auto;

}

.seksjon3mobilTekst p {
  width: 80%;
  margin: 0px auto;
}


.seksjon4 p {
  width: 80%;
  margin: 0px auto;
}





 /* hero */
.hero {
  height: 550px;
}

.closeBtn {
  color: #000000;
}

 /* seksjon 1 */
.seksjon1 {
  height: auto;
  padding: 81px;

}



.seksjon1 p {
  width: 100%;
  margin: auto;
  padding: 0px;
}




 /* seksjon 2 */

.seksjon2ikon {
display: block;
height: 60px;
width: 60px;
margin: 10px auto;
}
.bilde1ogtekst {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  height: auto;
  width: 100%;
  position: relative;
}

#knapp2 {
  display: block;
  margin: 0px auto;
  margin-top: 30px;

}

.seksjon2Knapp {
  display: none;
}

#bilde1 {
  display: none;
}

#bilde2, #bilde3, #bilde4 {
  width: 93%;
  margin: 0px auto;
  height: 500px;
  margin-top: 300px;
}

#bilde4 {
  display: block;
  margin-top: 0px;
}


.seksjon2tekst {
  margin-top: -150px;
  margin-bottom: 100px;
  width: 90%;
  padding: 40px;
}

.seksjon2tekst p {
  width: 100%;
  text-align: center;
}


.seksjon2bilde {
  height: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  width: 100%;
  margin: auto;
}



.ikon {
  height: 10vmin;
  width: 10vmin;
}

.seksjon5 {
  height: 300px;
}

 /* seksjon 3 */
 .seksjon3 {
  display: none;
 }

 .seksjon3mobil {
  display: block;
  display: flex;
  width: 93%;
  border-radius: 20px;
  margin: 0px auto;
  flex-direction: column;
  justify-content: center;
  background-color: #4F8966;
  margin-bottom: 50px;
 }

 .seksjon3mobilTekst {

  color: white;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  
}


 .seksjon3bilde {
  margin: 0 auto;
  height: 65vmin;
  width: 100%;
  margin-top: -20px;
  background-position: center;
  border-radius: 0 0 20px 20px;
 
}


.seksjon3mobilTekst h2 {
  width: 80%;
  margin: auto;
}


.seksjon3ikon {
  margin-top: 0px;
  height: 60px;
  width: 60px;
  margin: 10px auto;
}

.seksjon3 button {
  margin-bottom: 30px;
}
/* seksjon 4 */
.seksjon4 {
  flex-direction: column;
  margin: auto;
  height: auto;
}

.seksjon4bilde {
  width: 85%;
  height: 400px ;
  background-position: center;
  margin:  auto;
  margin-bottom: -40px;
  margin-top: 50px;
  order: 2; /* funker ikke */
}

.seksjon4tekst{
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  order: 3;
}


.seksjon4overskrift2 {
  display: none;
}

.seksjon4overskrift1 {
  display: block;
  text-align: center;
  width: 90%;
  margin: auto;
  order: 1;
}


 /* sosiale medier */

.soMe {
  display: flex;
  flex-direction: column;
}

.soMe h2 {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.soMe-container {
  margin: 0 auto;
}

.soMe img {
  height: 100px;
}

/* animasjoner */
.animasjonFraHøyre{
  position: relative;
transform: translateY(150px);
  transition: 0.9s all ease;
}
.animasjonFraHøyre.active{
  transform: translateY(0);
}

.animasjonFraVenstre{
  position: relative;
  transform: translateY(150px);
  transition: 0.9s all ease;
}
.animasjonFraVenstre.active{
  transform: translateY(0);
}

}



@media only screen and (max-width: 450px) {
.seksjon1 h1 {
  width: 90%;
}

.footer p {
  font-size: 1rem;
}

.footer a {
  font-size: 1rem;
}



h5 {
  font-size: 1rem;
}

label{
  font-size: 0.7rem;
}

.footer h4 {
  margin-top: 30px;
  font-size: 1.1rem;
}

}