* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 10;
    letter-spacing: 0.8px;
    
  }

  button {
    background-color: #4F8966;
    color: #f2f2f2;
    border-radius: 80px;
    border: 1px;
    height: auto;
    width: 6rem;
    padding: 0.5vmax;
    margin: auto;
    margin-top: 30px;
    font-size: 1vmax;
  }
  
  button:hover {
    transform: scale(1.05);
  }
 
  
  /* navbar start */

  .home-page #navbar {
    width: 100%;
    z-index: 200;
    background-color: #f8f8f8;
  }
  
  #navlinks {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 80px;
    padding-bottom: 10px; /* endre til 30 når linkene kommer på plass */
    margin-left: -100px;
  }


  #navlinks ul {
    list-style: none;
    display: flex;
    gap: 5vmax;
    font-size: 1.8vmin;
  }


  #navlinks ul li:hover {
    transform: scale(1.05);
  }

 
  #logoDesktop {
    height: 15vmin;
    display: block;
    margin: 0px auto;
    margin-top: -60px;
  }

  .logoMobil { 
    display: none;
  }

  .logoDesktop:hover { 
    transform: scale(1.05);
  }

  .logoMobil:hover { 
    transform: scale(1.05);
  }

  nav ul a {
    color: #3d3d3d;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav ul a:hover { 
    transform: scale(1.05);
  }
  
  #ham-menu {
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
  
  nav ul.active {
    left: 0;
  }
  
  
/* navbar slutt */
/* hero start */


.hero {
    background-image: url(herobilde.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 60vmin;
}



/* hero slutt */

/* tekst seksjon 1 */

.seksjon1 {
  background-color: #f0efef;
  height: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 100px;
}

.seksjon1 h1 {
  font-size: 2vmax;
  font-weight: 100;
  color: #000000;
  width: 70%;
  margin: 0 auto;
}

.seksjon1 p{
  font-size: 1.2vmax;
  padding-top: 20px;
  color: #000000;
  width: 40%;
  margin: 0 auto;
}

.ikon-container {
  display: flex;
  justify-content: center;
}

.ikon {
  width: 7.5vmin;
  height: 7.5vmin;
  margin: 5px;
  margin-top: 40px;
}


/* seksjon 2 "71 mål med grønn glede" boks*/

.seksjon2 {
  height: auto;
}

.bilde1ogtekst {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin-top: 150px;
}

.seksjon2tekst {
  height: auto;
  font-size: 20px;
  width: 50%;
  padding: 0px 20px 20px 80px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: -300px;
}

#bilde1 {
  height: 500px;
  background-image: url("bilde1.png") ;
  width: 50%;
  background-size: cover;
}

#bilde4 {
  display: none;
}

.seksjon2bilde {
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin-top: 200px;
}


#bilde2 {
  background-image: url("produksjon.jpeg") ;
  height: 100%;
  width: 50%;
  background-size: cover;
}

#bilde3 {
  background-image: url("produksjon.webp") ;
  height: 100%;
  width: 50%;
  background-size: cover;
}

#bilde4 {
  background-image: url("bilde1.png") ;
  height: 100%;
  width: 50%;
  background-size: cover;
}


.seksjon2overskrift2 {
  width: 100%;
  font-size: 2vmax;
  font-weight: 100;
}

.seksjon2tekst p {
  font-size: 1.2vmax;
  width: 80%;
  padding-top: 30px;
}




/* tekst seksjon 3 */
.seksjon3mobil {
  display: none;
}
.seksjon3 {
  margin-top: 100px;
  display: flex;
  height: 600px;
  background-color: #528D72;
}

.seksjon3bilde {
  background-image:  url(olaug.JPG);
  background-size: cover;
  margin: 50px;
  display: block;
  height: auto;
  width: 50%;
  position: relative;
}

.seksjon3tekst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.seksjon3ikon {
  height: 6rem;
  width: 6rem;
  margin-bottom: 20px;
  margin-top: -60px;
}

.seksjon3tekst h1{
font-size: 2.5vmax;
font-weight: 100;
color: #ffffff;
width: 60%;
}

.seksjon3tekst p{
font-size: 1.2vmax;
padding-top: 20px;
color: #ffffff;
width: 60%;
}


.seksjon3tekst button {
  background-color: #f2f2f2;
  color: #000000;
  width: auto;
  padding: 5px 20px 5px 20px;
 }




/* seksjon 2 "71 mål med grønn glede" boks*/

.seksjon4 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 700px;
  background-color: #eeeded;
}

.seksjon4overskrift1 {
  display: none;
}

.seksjon4ikon {
  height: 13vmin;
  width: 13vmin;
}

.seksjon4overskrift {
  width: 100%;
  padding-top: 20px;
  font-size: 1.5vmax;
  font-weight: 100;
}

.seksjon4tekst{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding: 20px 70px 20px 100px;
  margin: 80px;
}

.seksjon4tekst p {
  font-size: 1.2vmax;
  padding-top: 30px;
  padding-bottom: 30px;
}


.seksjon4bilde {
  width: 50vmax;
  height: 35vmax;
  background-size: cover;
  background-image: url("ansatte.jpeg") ;
  margin-left: 200px;
}

/* sosiale medier */

.soMe {
  height: 450px;
  padding-top: 100px;
}

.soMe h2 {
  margin-left: 35%; /* fiks*/
}
.soMe-container {
  padding: 30px;
  display: flex;
  margin-left: 40%; /* fiks*/
}

.soMe-container img {
  height: 8vmax;
  padding: 10px;
}

.soMe-container img:hover {
  transform: scale(1.05);
}



/*footer tablet/laptop*/
.footer {
  width: 100%;
  background:#f2f2f2;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 14px sans-serif;
}


/* Footer venstre-del */
.footer-venstre{
  padding-left: 140px;
  margin-top: -100px;
}


.footer p{
  color: black;
  font-size: 12px;
  font-weight: 200;
  line-height: 2;
}

.logoFooter {
  height: 13vmin;
}

.logoFooter:hover {
  transform: scale(1.02);
}

/* footer - midten */

.åpningstider {
  margin-bottom: 20px;
}

h4 {
  color: var(--farge13); 
  font-size: 14px;
  font-weight: 1000;
}

.footer-midten {
  margin: auto;
}

.footer-midten a{
  color: black;
}



/* Footer høyre */

.footer-høyre{
    width: 20%;
    padding-top: 30px;
}

.footer-høyre p{
    color: var(--farge4);
    font-weight: 100;
}


.footer-høyre p a{
    color: var(--farge13); 
    text-decoration: none;
    font-weight: 1000;
}

.footer-links a{
  line-height: 2;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-decoration: underline;
  display: block;
}

.footer-links a:hover {
  transform: scale(1.02);
}

#åpenhetslovenLink {
  margin-bottom: 100px;
}


/* animajsoner */
.animasjonOpp{
  position: relative;
  transform: translateY(150px);
  transition: 0.9s all ease;
}
.animasjonOpp.active{
  transform: translateY(0);
}

.animasjonFraHøyre{
  position: relative;
  transform: translateX(250px);
  transition: 1.5s all ease;
}
.animasjonFraHøyre.active{
  transform: translateX(0);
}

.animasjonFraVenstre{
  position: relative;
  transform: translate(-250px);
  transition: 1.5s all ease;
}
.animasjonFraVenstre.active{
  transform: translateZ(0);
}

.bildeKarusell{
  transition: opacity 0.5s ease;
}
.bildeKarusell:hover{
  opacity: 1;
}

/* pop-up informasjonsmelding */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px); 
  z-index: 998; 
  display: none;
}

#infoMelding {
  position: fixed;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}


.infoMelding-innhold {
  background-color: #528D72;
  color: white;
  border-radius: 20px;
  padding: 50px;
  z-index: 10000;
}

#infoMelding p {
  padding-top: 20px;
}

#infoMelding h3 {
  font-weight: bold;
}

.infoMelding-top button {
  float: right;
  margin: -10px;
  background-color: #e8e8e8;
  height: 40px;
  width: 40px;
  color: #000000;
  margin-top: -20px;
}


/* cookie */



/*mobile device*/
@media only screen and (max-width:1000px){

  .footer{
      flex-direction: column;
      font-size: 2vmax;
}

.logoFooter {
  height: 23vmin;
}
  
  .footer-venstre, .footer-midten, .footer-høyre{
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .footer-venstre {
    order: 1;
  }

  .footer-midten  {
    margin-bottom: 50px;
    order: 2;
  }

  .footer-høyre {
    order: 3;
  }

  h4 {
    margin-top: 30px;
    font-size: 2vmax;
  }

  .footer-midten p {
    font-size: 1.8vmax;
  }

  a {
  font-size: 2vmax;
  }

  #vårreise {
    margin-top: -27px;
  }


 
}



/* tablet */
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }

  button {
    font-size: 2vmax;
    height: auto;
    width: 8rem;
    padding: 1vmax 2vmax 1vmax 2vmax;
    width: auto;
  }

 /* navbar */
  #navbar {
    z-index: 200;
  }
  #ham-menu {
    display: block;
    color: #3b7741;
  }
  
  nav a#logoDesktop, #ham-menu {
    font-size: 4.8rem;
    
  }
  nav ul {
    background-color:#EBECEB;
    gap: 0;
    position: fixed;
    left: -100vw;
    top: 0px; 
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: 0.7s;
  }

  #navlinks {
    padding-top: 120px;
  }

  #logoDesktop {
    display: none;
  }
  
  .logoMobil { 
    height: 30vmin;
    display: block;
    margin: auto;
    padding-top: 25px;
    margin-bottom: -120px;
  }

   /* hero */
  .hero {
    height: 550px;
  }

   /* infomelding popup */
  #infoMelding {
    width: 80%;
  }

  #infoMelding p {
  font-size: 2vmax;
  }

  #infoMelding h3 {
    font-size: 2.8vmax;
    }

  #closeBtn {
    color: #000000;
  }

   /* seksjon 1 */
  .seksjon1 {
    height: auto;
    padding: 50px;
  }

  .seksjon1 p {
    font-size: 2vmax;
    width: 90%;
  }

  .seksjon1 h1 {
    font-size: 2.8vmax;
  }


   /* seksjon 2 */

 
  .bilde1ogtekst {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    height: auto;
    width: 100%;
    position: relative;
  }
  
  #bilde1 {
    display: none;
  }

  #bilde2, #bilde3, #bilde4 {
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
    height: 500px;
    margin-top: 300px;
  }

  #bilde4 {
    display: block;
    margin-top: 0px;
  }

  .seksjon2tekst {
    margin-top: -150px;
    margin-bottom: 100px;
    width: 80%;
    padding: 40px;
  }

  .seksjon2tekst p {
    width: 100%;
    text-align: center;
    font-size: 2vmax;
  }
  
  #seksjon2overskrift2 {
    font-size: 2.8vmax;
  }


  .seksjon2bilde {
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    width: 100%;
    margin: auto;
  }

 

  .ikon {
    height: 9.5vmin;
    width: 9.5vmin;
  }
  
   /* seksjon 3 */
   .seksjon3 {
    display: none;
   }

   .seksjon3mobil {
    display: block;
    width: 100%;
    border-radius: 5px;
   }

   .seksjon3bilde {
    height: 90vmin;
    margin: 30px;
    width: 70%;
    transform: scaleX(1);
    margin-top: -150px;
    z-index: -1;
    border-radius: 5px;
  }

  .seksjon3mobilTekst {
    background-color: #4F8966;
    color: white;
    text-align: center;
    height: auto;
    padding: 50px;
    margin: 300px 15px 90px 70px;
  }

  
  .seksjon3mobilTekst h1 {
    font-size: 2.8vmax;
    margin-bottom: 20px;
  }

  .seksjon3mobilTekst p {
    font-size: 2vmax;
  }

  .seksjon3ikon {
    margin-top: 0px;
  }

  .seksjon3 button {
    margin-bottom: 30px;
  }

 /* seksjon 4 */
  .seksjon4 {
    flex-direction: column;
    margin: auto;
    height: auto;
  }
  
  .seksjon4bilde {
    width: 85%;
    height: 400px ;
    margin:  auto;
    margin-bottom: -40px;
    margin-top: 20px;
    order: 2; /* funker ikke */
    border-radius: 5px;
  }
  
  .seksjon4tekst{
    text-align: center;
    width: 90%;
    padding: 50px;
    margin: auto;
    order: 3;
  }

  .seksjon4tekst p {
    font-size: 2vmax;
  }
  
  .seksjon4overskrift2 {
    display: none;
  }

  .seksjon4overskrift1 {
    display: block;
    padding-top: 50px;
    font-size: 2vmax;
    text-align: center;
    width: 90%;
    margin: auto;
    order: 1;
  }

 
   /* sosiale medier */
  .soMe {
    display: flex;
    flex-direction: column;
  }

  .soMe h2 {
    margin: 0 auto;
    font-size: 2.8vmax;
    text-align: center;
    width: 60%;
  }
  .soMe-container {
    margin: 0 auto;
  }

  .soMe img {
    height: 100px;
  }

  /* animasjoner */
  .animasjonFraHøyre{
    position: relative;
  transform: translateY(150px);
    transition: 0.9s all ease;
  }
  .animasjonFraHøyre.active{
    transform: translateY(0);
  }
  
  .animasjonFraVenstre{
    position: relative;
    transform: translateY(150px);
    transition: 0.9s all ease;
  }
  .animasjonFraVenstre.active{
    transform: translateY(0);
  }

}


